.container{
    background-color: rgb(236, 223, 223);
    color: black;
    height: 100vh;
    margin-top: 10px;
    text-align: right;
    font-size: 25px;
}
    input{
        margin-bottom: 20px;
        border-radius: 5px;
        height: 40px;
        width: 400px;
        border: white;


    }
    .Acc-form{
        margin-top: 6%;
        align-content: center;
    }
.profile-photo{
    height: 250px;
    width: 250px;
    border-radius: 125px;
    background-color: lightgray;

}