.container{
    display: flex;
    background-color: lightgray;
    flex-direction: column;
}
.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
     margin: 40px 0px 40px 0px;
}

.about > p{
    text-align: center;
}

.about-boxes{
    display: flex;
    justify-content: space-around;
}

.about-boxes > div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    border: 2px solid grey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
}

.about-boxes > div > p{
    text-align: center;
}
.about-boxes > div > h3{
    text-align: center;
}
.recycle{
    color: purple;
    font-size: 50px;
}
.reviews{
    background-color: #492020;
    display: flex;
    flex-direction: column;
}
.reviews > h2{
    text-align: center;
    color: white;
   
}
#client {
    display: flex;
}
#client > div{
    flex-direction: flex;
    justify-content:center;
    border: 2px solid grey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    align-content: center;
    text-align: center;
}
