.contactcontainer {
  color: #452121;
  background-color: #e0e0e0;
  background-size: cover;
  padding: 10vh;
}
#messageheader {
  margin-top: 10px;
  text-align: center;
  flex-direction: column;
}

#messageheader h2 {
  font-size: 3.4em;
  margin-bottom: 5vh;
  color: #452121;
  font-weight: 700;
}

#messageheader p {
  padding: 0 10vw;
  font-size: 1em;
  font-weight: 600;
  color: rgb(31, 31, 31);
}

#contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10vh;
}

.message h4 {
  margin-bottom: 2vh;
}

.messageholder textarea {
  border: none;
  padding-top: 5px;
  width: 30vw;
}

#iconic {
  flex-direction: column;
}

.button {
  margin-top: 2vh;
  background-color: #6e6bff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #e0e0e0;
  font-size: 1em;
  font-weight: 600;
}

.button:hover {
  background-color: #8785ff;
}
