*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.contactcontainer {
    color: #452121;
    background-color: #E0E0E0;
    background-size: cover;


}
#messageheader{
    margin-top: 10px;
    text-align: center;
    flex-direction: column;
}
#contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;

}
#iconic{
    flex-direction: column;
}

.button{
    background-color: green;
}
