*{
    box-sizing: border-box;
    padding:o;
    margin:0;
}
.form-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-image: url(/public/bgImage.jpg);
    background-size: cover;
    color: #C4C4C4;
    }

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid white;
    width: 40%;
    border-radius: 20px;
}

.login-form > h2{
    color: white;
    margin-bottom: 20px;
}

.login-form > div{
    margin: 10px;
    width: 70%;
}

label{
    color: white;
}

.login-form > div > input{
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #C4C4C4;
    border-radius: 5px;
    width: 100%;
}

.login-submit-btn{
    background-color: purple;
    padding: 15px;
  background-color: purple;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  width: 70%;
  align-items: center;
  margin-bottom: 40px;
}